@import './font-awesome-4.7.0/font-awesome.scss';

html,
body {
  height: 100%;
  width: 100%;
  font-size: .9rem;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
  background-color: #fafafa;
  min-height: 100%;
  min-width: 100%;
}

p,
label {
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}

.record-positive-val {
  color: green;
}

.record-negative-val {
  color: red;
}

#main-sider .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.kpi-value {
  color: orange;
}