/**
* SCSS for RecordGrid
**/

.record-table-header,
.record-item {
  display: flex;
  line-height: 2rem;

  .cell {
    width: calc(100% / 5);
    text-align: center;
    border: 1px solid lightgrey;
  }
}

.record-table-header {
  font-weight: bold;
  background-color: lightgray;
}

.record-item:hover {
  background-color: #fafafa;
  
  .remove-record {
    visibility: visible;
  }
}

.remove-record {
  visibility: hidden;
  margin-left: -10px;
  color: #e57373;
  cursor: pointer;
}