/**
* SCSS for RecordList
**/

.record-list-container {
  .record-list-header,
  .record-filter,
  .record-table {
    padding: 20px 0 0 0; // also remove collapse

    .record-editor {
      display: flex;
      justify-content: space-between;
      background-color: inherit;
      margin-top: -15px;
      margin-bottom: -10px;
      padding-bottom: 0;

      .tabs-header {
        display: none;
      }
      
      .btns {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.record-summary-kpi {
  li {
    list-style-type: none;
    margin-left: -40px;
  }
}

@media (min-width: 768px) {
  .record-summary,
  .record-summary-kpi {
    display: flex;
    justify-content: space-between;
  }

  .record-summary-kpi {
    margin: 0;

    li {
      list-style-type: none;
      margin-left: 20px;
    }
  }
}