.addItem-form {
  border-top: $border-default;
  color: orange;

  .menu {
    top: -$width-border-default;
    padding: 5px;
    min-width: 150px;
    text-align: right;

    input {
      margin-bottom: 5px;
    }
  }
}