.menu-item2 {
  @extend .menu-item;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .menu {
    left: $width-menu - 2 * $width-border-default;
    top: 0;
  }

  .menu.disabled {
    display: none;
  }
}