$width-border-default: 1px;
$border-default: $width-border-default grey solid;
$width-menu: 150px;
$background-color-btn-default: #337ab7;
$background-color-btn-active: #286090;
$border-color-btn-default: #2e6da4;
$border-color-btn-active: #204d74;

/* z-index */
$z-index-menu: 100;
